<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">CRN</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Payment Date</th>
                    <th>Payment Amount</th>
                </tr>

                <% if(data.length){

                 for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].status%></td>
                    <td><%=data[i].type%></td>
                    <td><%=data[i].paymentdate%></td>
                    <td><%=data[i].paymentamount%></td>
                </tr>
            <% }

             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>



            </table>
         </div>
        </div>

<%- include layouts/footer.ejs %>
